.header_div{
    width: 100%;
    display: flex;
    background-color:#FF5733;
    font-family: Verdana, sans-serif;
    position: relative ;
}
.header_img{
  width: 300px;
}

  




.social-icons {
    list-style: none;
    display: flex;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    right: 0;
    }
  
  .social-icons li {
    margin: 0 10px;

  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
    
  }
  
  .social-icons a:hover {
    color: #73C6B6;
  }
  .redes_icon{
    font-size: 30px;
  }