.nav {
    font-family: inherit;
    width: 100%;
    height: 50px;
    background-color: #FFC300;
    color: #fff;
    display: flex;
    align-items: center;
  }
  

  .nav_ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav_ul_li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav_ul_li:last-child {
    margin-right: 0;
  }
  
  .nav_ul_li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  .nav_ul_li a:hover {
    color: #73C6B6;
    
  }
 .btn_ofAca{
  border: none;
  cursor:pointer;
  background-color: #FFC300;
  position: relative;
  margin-right: 5px;
 }
 


  .div_container-menu{
  position: absolute;
  display: flex;
  z-index: 1000;
  opacity: .8;
  border: 1px #3a352028 solid;
  border-radius: 10px;
  background-color: #333;
  border-radius: 10px;
}
 .menu_lista{
  width: 250px;
  list-style: none;
 }

 .menu_lista a{
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
 }
 .menu_lista a:hover{
   color: #f1c40f;   
 } 

 .menu_lista-titulo h4{
  padding: 5px;
  font-size: 18px;
  color: #fff;
}
@media (max-width: 600px) {
  .div_container-menu{
    display: block;
  }
  
  .nav_ul_li a {
    font-size: 15px;
  }
}